.screen-header{
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 20px;
}

.screen-header__smallDote{
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    right: 20px;
    top: 50px;
}
